.yu-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
}

.yu-radio__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.yu-radio__circle {
    position: relative;
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--color-background);
    border: 1px solid var(--color-text-light);
    border-radius: 50%;
    margin-right: 0.5rem;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.yu-radio:hover .yu-radio__input~.yu-radio__circle {
    border-color: var(--color-primary);
}

.yu-radio__input:checked~.yu-radio__circle {
    border-color: var(--color-primary);
}

.yu-radio__dot {
    width: 0.625rem;
    height: 0.625rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    transform: scale(0);
}

.yu-radio__input:checked~.yu-radio__circle .yu-radio__dot {
    opacity: 1;
    transform: scale(1);
}

.yu-radio__input:focus~.yu-radio__circle {
    box-shadow: 0 0 0 2px var(--color-background), 0 0 0 4px var(--color-primary);
}

.yu-radio--disabled {
    opacity: 0.6;
    cursor: not-allowed;
}